#questionList {
  margin-top: 8px;
  select {
    margin: 0 4px;
  }
  input {
    width: 60px;
    margin-right: 4px;
  }
}

.tree-item {
  i {
    font-size: 12px;
    margin-right: 4px;
  }
  .inner {
    padding: 4px;
    &:hover {
      background-color: rgba(128, 128, 128, 0.2);
    }
  }
  .active {
    border-top: 1px solid #f00;
  }

  
}

.is-merged-top {
  border-bottom: 0;
  position: relative;
  &::before{
    content: "";
    border: 1px solid #479cff;
    position: absolute;
    right: 0;
    width: 1px;
    height: 50%;
    bottom: 0;
  }
  &::after {
    content: "";
    right: calc(-0.4rem + 1px);
    width: 0.8rem;
    height: 0.8rem;
    top: calc(50% - 0.4rem);
    background: #479cff;
    border-radius: 0.8rem;
    display: inline-block;
    position: absolute;
  }
}
.is-merged-inner {
  border-top: 0;
  border-bottom: 0;
  position: relative;
  .tree-ques-name, .tree-ques-name-err {
    display: none;
  }
  &::before{
    content: "";
    border: 1px solid #479cff;
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    top: 0;
  }
  &::after {
    content: "";
    right: calc(-0.4rem + 1px);
    width: 0.8rem;
    height: 0.8rem;
    top: calc(50% - 0.4rem);
    background: #479cff;
    border-radius: 0.8rem;
    display: inline-block;
    position: absolute;
  }
}
.is-merged-bottom {
  border-top: 0;
  position: relative;
  .tree-ques-name, .tree-ques-name-err {
    display: none;
  }
  &::before{
    content: "";
    border: 1px solid #479cff;
    position: absolute;
    right: 0;
    width: 1px;
    height: 50%;
    top: 0;
  }
  &::after {
    content: "";
    right: calc(-0.4rem + 1px);
    width: 0.8rem;
    height: 0.8rem;
    top: calc(50% - 0.4rem);
    background: #479cff;
    border-radius: 0.8rem;
    display: inline-block;
    position: absolute;
  }
}

.drag-action-inner {
  background: #479cff;
}
.drag-action-bottom {
  border-bottom: 2px solid #EF804C;
  padding-bottom: 6px;
  box-sizing: border-box;
  position: relative;
  background-color: #e7eefe;
  color: #4e8de1;
  &::after {
    content: "";
    width: 2px;
    height: 16px;
    background: #EF804C;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -8px;
    top: auto;
  }
}
.drag-action-top {
  border-top: 2px solid #EF804C;
  padding-top: 6px;
  box-sizing: border-box;
  position: relative;
  background-color: #e7eefe;
  color: #4e8de1;
  &::after {
    content: "";
    width: 2px;
    height: 16px;
    background: #EF804C;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -8px;
  }
}

.tree-children {
  padding-inline-start: 16px;
}

.leaf-padding {
  padding-inline-start: 12px;
}

#treeRoot {
  position: relative;
}

.untyped {
  color: #aaa;
}