@font-face {
  font-family: "iconfont"; /* Project id 4592892 */
  src: url('iconfont.woff2?t=1732613477516') format('woff2'),
       url('iconfont.woff?t=1732613477516') format('woff'),
       url('iconfont.ttf?t=1732613477516') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tips-one:before {
  content: "\eaa8";
}

.icon-dingzi-u:before {
  content: "\e63f";
}

.icon-dingzi3:before {
  content: "\e86c";
}

.icon-dingzi1:before {
  content: "\ea7d";
}

.icon-close:before {
  content: "\e655";
}

.icon-return:before {
  content: "\e6ba";
}

.icon-weikong:before {
  content: "\e609";
}

.icon-baocun:before {
  content: "\e64a";
}

.icon-xiaogongju:before {
  content: "\e8b7";
}

.icon-qitafuwu:before {
  content: "\e62b";
}

.icon-to-left:before {
  content: "\e73f";
}

.icon-to-right:before {
  content: "\ea7c";
}

.icon-xuanzhong2:before {
  content: "\e69b";
}

.icon-xuanzhong11:before {
  content: "\e6f3";
}

.icon-xiankuang:before {
  content: "\e85b";
}

.icon-goujianshu:before {
  content: "\e602";
}

.icon-number-sign:before {
  content: "\ea7b";
}

.icon-h1:before {
  content: "\e61c";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-arrowright-copy:before {
  content: "\e74e";
}

.icon-up:before {
  content: "\e74d";
}

.icon-angeldown1:before {
  content: "\e606";
}

.icon-folder:before {
  content: "\e61f";
}

.icon-folder1:before {
  content: "\e603";
}

